@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300;600&display=swap');


:root{
    --maincolor: #f99f38;
    --border: .1rem solid rgba(56, 55, 54, 0.1);
    --box-shadow: 0 .5rem 1rem #f99f38;
    --shadow: .3rem .2rem .5rem #d7cdbc;
    --radius: .5rem;
    --text: #292929;
    --bg: #ffecd7f5;
}
*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all 1s ease-out;
}

body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border-radius: var(--radius);
    color: var(--main-color);
    background: var(--bg);
    display: none;
}
#menu-btn:hover{
    color: var(--text);
    background: var(--bg2);
}

.btn{
    display: inline-block;
    padding: .5rem 1.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--text);
    background: var(--maincolor);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
    font-weight: bold;
}
.btn2 {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--text);
    border: 2px solid var(--maincolor);
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    font-weight: bold;
    background: #fff;
}

.btn2 span {
    display: inline-block;
    transition: transform 0.5s; /* Pievienojam pāreju teksta elementam */
    box-shadow: none;
}

.btn2:hover span {
    transform: scale(1.1); /* Palielinām teksta izmēru */
}

.btn:hover{
    background-color: var(--bg);
    
}

 .vairak{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}


.box{
    box-shadow: var(--shadow);
    background-color: #fff;
    transition: transform .5s ease;
}
.box:hover{
    transform: translateY(-1rem);
}
 section{
    padding: 1.5rem 9%;
} 
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
}
.box-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
    padding: 1.5rem 0;
}
.box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: .6rem 0 1.7rem 0;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    height: 6.2rem;
    transition: top 0.3s;
}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

header .current {
    font-weight: bold;
    background: var(--bg);
}

nav a {
    font-size: 1.3rem;
    margin-left: 1.7rem;
    color: var(--text);
    padding: 2.2rem .5rem;
    text-align: center;
}

nav a:hover {
    color: var(--maincolor);
}

header img {
    width: 7rem;
    height: 7rem;
}

.navigacija {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

header .button {
    display: flex;
    justify-content: flex-end;
}

#sak{ 
    padding: 6rem 0 0 0 ;
}
#sak .welcom {
    position: absolute;
    top: 40%;
    margin-left: 9%;
    color: #ddd;
    z-index: 1;
}


/* #sak #myVideo {

#sak #myVideo {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
} */

.video {
    position: relative; /* Make the video container fixed */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; 
    z-index: -1;/* Hide overflow */
}

.video video {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* Cover the container without distortion */
}

#sak .welcom{
    width: 40%;
    background: rgba(0,0,0,30%);
    padding: 1.5rem;
    border-radius: var(--radius);
    position: absolute;
}

#sak .welcom p{
    font-size: 1.5rem;
    line-height: 1.75;
    color: #eee;
}

#sak .welcom h1{
    text-align:left;
    font-size: 2.6rem;
    margin: .6rem 0 1.3rem 0;
    padding-right: 2rem;
}

#sak .welcom .btn{
    box-shadow: var(--shadow);
    margin-top: 1.5rem;
    border: var(--border);
}
span{
    box-shadow: 8px 8px 8px -3px #f99f38;
}

#parMums .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

#parMums .main .box1{
    width: 50%;

}
#parMums .main img{
    height: 40%;
    width: 40%;
}

#parMums .main .box1 h3{
    font-size: 1.8rem;
    font-weight: 1000;
    color: #666;
}
#parMums .main .box1 h2{
    margin: .5rem 0 2.5rem 0;
    font-size: 2.5rem;
    font-weight: 1000;
    color: var(--maincolor);
}
#parMums .main .box1 p{
    font-size: 1.3rem;
    color: var(--text);
    line-height: 1.5;
    padding-left: 2.5rem;
    border-left: 5px solid var(--maincolor);
}
#parMums .boxicons{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.7rem;
}
#parMums .iconbox{
text-align: center;
width: 9.4rem;
}
#parMums .iconbox i{
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
    color: var(--maincolor);
    background: var(--bg);
    border-radius: 2.2rem .6rem 2.2rem 1.5rem;
    line-height: 7rem;
}
#parMums .main .box1 .boxicons .iconbox p{
    font-size: 1.3rem;
    color: var(--text);
    line-height: 1.5;
    border-left: none;
    padding: 0;
    font-weight: bold;
    color: #666;
}
#kontakti{
    padding-top: 7.2rem;
}

#kontakti .icon{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    border: var(--border);
    padding: 2rem;
    text-align: center;
    transition: transform .5s ease;
}
#kontakti .icon:hover{
    transform: translateY(-1rem);
}
#kontakti .icon h3{
    display: inline-block; 
    color: var(--text);
    padding: 1rem 0;
    font-size: 2rem;
    box-shadow: 0 8px 6px -6px #f99f38;
    padding-bottom: 5px;
}
#kontakti .icon p{
    color: var(--text);
    font-size: 1.3rem;
    padding-top: .8rem;
}
#kontakti .icon i{
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
    color: var(--maincolor);
    background: var(--bg);
    border-radius: .4rem 2rem 1.3rem 2rem;
    line-height: 6rem;
}
#kontakti .row{
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#kontakti .row .box-container{
    padding: 0;
}
#kontakti form{
    flex: 1 1 45rem;
    width: 100%;
}
#kontakti form .box:hover{
    transform: scale(1.03); 
    transition: transform 0.3s ease;
  }

form .box{
    width: 100%;
    font-size: 1.6rem;
    margin: .7rem 0;
    padding: 1rem;
    border: var(--border);
    border-radius: var(--radius);
    color: var(--text);
    background: rgba(161, 91, 22, 0.1);

}
form .box:focus{
    background: var(--bg);
}
form textarea{
    resize: none;
}

#aktualitates .box{
    position: relative;
    box-shadow: var(--shadow);
}
#aktualitates .box:hover{
   transform: none;
}

#aktualitates .box-container2 img{
    height: 15rem;
}
#aktualitates .box-container1 .box-container1{
    padding: 0;
}
#aktualitates .box img{
    width: 100%;
    display: block;
    object-fit: cover;
}
#aktualitates .box h2{
    position: absolute;
    margin: 0;
    left: 0;
    bottom:0;
    padding: .7rem 0;
    color: #fff;
    font-size: 1.75rem;
    text-align: center;
    width: 100%; /* Adjust width to fit within padding */
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.35); 

}
#aktualitates .box h2:hover{
    font-size: 1.9rem;
    background-color: rgba(0, 0, 0, 0.6); 
    font-weight: bold;
}
#aktualitates i{
    color: #fff;
    padding-left: 2%;
}
#aktualitates i:hover{
    color: var(--maincolor);
}


#VisasAktualitates {
    padding-top: 7.2rem;
}
#VisasAktualitates img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#VisasAktualitates .boxim {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#VisasAktualitates .boxim .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    background: rgba(0, 0, 0, 0); /* Pievienots fona krāsojums */
}

#VisasAktualitates .boxim .content.visible {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5); /* Mainīts fona krāsojums */
}

#VisasAktualitates .boxim p {
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}

#VisasAktualitates p {
    padding: 0 0 0 1rem;
    color: #666;
    font-weight: bold;
    font-size: 1.2rem;
}

#VisasAktualitates .box {
    margin-bottom: 2rem;
}

#VisasAktualitates .box h2 {
    padding: .7rem 0 .2rem 1rem;
    font-size: 1.7rem;
}
#VisasAktualitates .apr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#VisasAktualitates .apr i {
    font-size: 1.5rem;
    padding: .4rem .5rem;
    background: var(--bg);
    border-radius: 100%;
    margin: .5rem 1rem;
    cursor: pointer;
}
#VisasAktualitates .apr i:hover {
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
}

#piedavajumi{
    text-align: center;
}


#piedvajumi .box{
    border: var(--border);
    padding: 0;
}

#piedavajumi .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

#piedavajumi a{
    margin: 2rem 0 1rem 0;
}
#piedavajumi .box h2{
    text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.5rem 0 1.5rem 2rem;
}

#VisiPiedavajumi .box{
    text-align: center;
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    padding: 1.5rem;
}

#VisiPiedavajumi .box .fotos{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    padding: 0;
}

 #VisiPiedavajumi .box .fotos img{
    width: 60%;
    height: 19rem;
    object-fit: cover;
}
#VisiPiedavajumi .box .fotos iframe{
    width: 40%;
    height: 19rem;
}
#VisiPiedavajumi .box h2{
    color: var(--text);
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

 #VisiPiedavajumi .box p{
    color: var(--text);
    font-size: 1.3rem;
    padding-bottom: .5rem;
    line-height: 2;
}

  #VisiPiedavajumi{
        padding-top: 7.2rem;
  }

  footer{
    padding: 1rem 0 2rem 0;
    background: rgba(0, 0, 0, 0.7);

  }
  footer .blocks{
    margin: 1rem 9% 2rem 9%;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 6px -6px #f99f38;
    align-items: center;
    gap: 2rem;
  }
  footer iframe{
    height: 18rem;
  }
footer p{
    text-align: center;
    color: #eee;
    font-size: 1.3rem;
}
  footer .blocks p{
    line-height: 1.5;
    text-align: left;
  }
/* Animācijas definīcija */
@keyframes slideInUp {
    from {
        transform: translateY(15%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Klase animācijai */
.animate {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
}

.animate.visible {
    animation: slideInUp 0.6s forwards;
}


  #pieteikums{
    margin: 0 auto;
    padding-top: 7.2rem;
    max-width: 75rem;
  }
  
  #pieteikums h2 span{
    box-shadow: none;
    color: var(--maincolor);
  }
  #pieteikums h2{
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.9rem;
  }
  #pieteikums form{
    margin-top: 2rem;
    background: rgba(161, 91, 22, 0.1);
    padding: 1.5rem 2rem;
    
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
  }
  #pieteikums form input, #pieteikums select, #datums{
    background: var(--bg);
    width: 100%;
  }
  #pieteikums form input:focus{
    background: #fff;
  }
  #pieteikums .inputs{
    margin: 0 2rem 1.5rem 2rem;
  }
  #pieteikums .btn{
    font-size: 1.5rem;
  }
  #pieteikums .box:hover{
    transform: none;
  }
  #pieteikums form input.box:hover, #pieteikums form select.box:hover{
    transform: scale(1.05); 
    transition: transform 0.3s ease;
  }
  #pieteikums label{
    font-size: 1.1rem;
    text-align: left;
    color:#666;
  }
  

  /* Pieteikšanās notifications */
  .notif{
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 5rem;
    padding: 1rem;
    color: #eee;
    border-radius: var(--radius);
    border: var(--border);
    background: var(--text)
}
.notif.red{
    background: #b11717;
}
.notif.green{
    background: #4abb28;
}


#pazinojums{
    margin-top: 1.5rem;
    width: 40%;
    text-align: center;
    background: var(--bg);
    box-shadow: var(--box-shadow);
    color: var(--text);
    font-size: 1.2rem;
    font-weight: bold;
    /* display: block; */
    padding: .8rem 1rem;
}
#pazinojums p{
    animation: blinker 2s linear infinite;
}
 #pazinojums a{
    cursor: pointer;
    border: 2px solid #fff;
    padding: .1rem .4rem;
    font-weight: normal;
} 

#pazinojums a:hover{
    color: rgb(107, 6, 6);
    border: 3px solid #000;

}

.filtri select{
    font-size: 1.2rem;
}

.filtri option{
    width: 3rem;
    background-color: var(--bg);
    color: var(--text);
    font-size: 1.2rem;
}


@keyframes slideInUp {
    from {
        transform: translateY(15%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
}

.animate.visible {
    animation: slideInUp 0.6s forwards;
}

  @media (max-width: 1150px) {
    #piedavajumi .box .fotos {
        display: block;
    }

    #piedavajumi .box .fotos img,
    #piedavajumi .box .fotos iframe {
        width: 100%; 
        margin-bottom: 1rem; 
    }
    #myVideo{
        .video {
            width: 100vw; 
            height: 100vh; 
        }
    
        .video video {
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
        }
    }
}

@media(max-width: 1000px){
    footer .blocks{
        flex-wrap: wrap;
    }
}

@media (max-width: 985px) {
    #menu-btn {
        display: block;
    }

    .navbar {
        display: none;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
    }

    header .btn {
        margin: 0 0 1rem -3rem;
        padding: 1rem;
        font-size: 1.6rem;
    }

    header .button .btn {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
    }

    nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 115%;
        right: 2rem;
        box-shadow: var(--box-shadow);
        background: #fff;
        border: var(--border);
        border-radius: var(--radius);
        width: 20rem;
        text-align: center;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .navigacija{
        flex-direction: column;
    }
    nav.active {
        transform: scale(1);
        opacity: 1;
    }

    nav a {
        font-size: 2rem;
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-radius: var(--radius);
    }

    nav a:hover {
        background: var(--bg);
    }

    #parMums .main{
        flex-wrap: wrap;
    }
    #parMums .main .box1{
        width: 100%;
    }
    #parMums .main img{
        width: 100%;
        height: 20%;
        margin-top: 1rem;
    }
    #sak .welcom{
        width: 70%;
        top: 25%;
    }
}
@media(max-width: 750px){
    nav a{
        font-size: 1.3rem;
    }
    header .button .btn{
        font-size: 1.3rem;
    }
    .box-container1{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        }
        #VisiPiedavajumi .fotos{
            flex-wrap: wrap;
        }
        #VisiPiedavajumi .box .fotos img, #VisiPiedavajumi .box .fotos iframe{
            width: 100%;
            height: 12rem;
        }
        #aktualitates .box h2{
            font-size: 1.5rem;
        }
}
@media(max-width: 650px){

    h1{
        font-size: 2.5rem;
    }
    #pieteikums h2{
        font-size: 1.6rem;
    }
    #pieteikums .inputs{
        margin: 0 0 1.5rem 0
    }
    #pieteikums input, #pieteikums select{
        font-size: 1.3rem;
    }
    footer iframe{
        height: 10rem;
    }
    footer p{
        font-size: 1.1rem;
    }
   .box-container{
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
    #kontakti .btn{
        margin-left: 2%;
    }
    #kontakti input.box{
        padding: .5rem;
        font-size: 1.3rem;
        margin: .3rem 0
    }
}
@media(max-width: 490px){
    #parMums .boxicons{
        flex-wrap: wrap;
        justify-content: center; 
    }
    #sak .welcom{
        top: 15%;
        width: 80%;
    }
}