@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300;600&display=swap');


:root{
    --maincolor: #f99f38;
    --border: .1rem solid rgba(56, 55, 54, 0.1);
    --box-shadow: 0 .5rem 1rem #f99f38;
    --shadow: .3rem .2rem .5rem #d7cdbc;
    --radius: .5rem;
    --text: #292929;
    --bg: #ffe4c6;
}
*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all .3s ease-out;
}

.btn{
    display: inline-block;
    padding: .5rem 2.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text);
    background: var(--maincolor);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
    font-weight: bold;
}
.btn:hover{
    background-color: var(--bg);
}

.box{
    box-shadow: var(--shadow);
}

 section{
    padding: 2rem 9%;
} 
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.box-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin: .6rem 0 1.7rem 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    height: 6rem;
}
nav a{
    font-size: 1.3rem;
    margin-left: 2rem;
    color: var(--text);
}

nav a:hover{
    color: var(--maincolor);
}
header img{
    width: 7rem;
    height: 7rem;
}

#parmums{ 
    padding: 6rem 0 0 0 ;
}
#parmums .welcom {
    position: absolute;
    top: 40%;
    margin-left: 9%;
    color: #ddd;
    z-index: 1;
}

#myVideo {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.welcom{
    width: 48rem;
    background: rgba(0,0,0,30%);
    padding: 1.5rem;
    border-radius: var(--radius);
}

.welcom p{
    font-size: 1.5rem;
    line-height: 1.75;
    color: #eee;
}

.welcom h1{
    text-align:left;
    font-size: 2.6rem;
    margin: .6rem 0 1.3rem 0;
    padding-right: 2rem;
}

.welcom .btn{
    box-shadow: var(--shadow);
    margin-top: 1.5rem;
    border: var(--border);
}
span{
    box-shadow: 8px 8px 8px -3px #f99f38;
}

#kontakti{
    padding-top: 7.2rem;
}

#kontakti .icon{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    border: var(--border);
    padding: 2rem;
    text-align: center;
}

#kontakti .icon h3{
    display: inline-block; 
    color: var(--text);
    padding: 1rem 0;
    font-size: 2rem;
    box-shadow: 0 8px 6px -6px #f99f38;
    padding-bottom: 5px;
}

#kontakti .icon p{
    color: var(--text);
    font-size: 1.3rem;
    padding-top: .8rem;
}

#kontakti .icon i{
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
    color: var(--maincolor);
    background: var(--bg);
    border-radius: .4rem 2rem 1.3rem 2rem;
    line-height: 6rem;
}

#kontakti .row{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.container{
    display: flex;
    gap: 1.5rem;
    height: 5.5rem;
}

#kontakti form{
    flex: 1 1 45rem;
    width: 100%;
}
form .box{
    width: 100%;
    font-size: 1.6rem;
    margin: .7rem 0;
    padding: 1rem;
    border: var(--border);
    border-radius: var(--radius);
    color: var(--text);
    background: #f7f7f7;
}

form .box:focus{
    background: var(--bg);
}

form textarea{
    resize: none;
    /* height: 4rem; */
}

#piedavajumi .box, #jaunumi .box{
    text-align: center;
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    padding: 1.5rem;
    /* width: 40rem; */
}
#piedavajumi .box .fotos, #jaunumi .box .fotos{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    padding: 0;
}
#piedavajumi .box .fotos img, #jaunumi .box .fotos img{
    width: 60%;
    height: 19rem;
}
#piedavajumi .box .fotos iframe, #jaunumi .box .fotos iframe{
    width: 40%;
    height: 19rem;
}
#piedavajumi .box h2, #jaunumi .box h2{
    color: var(--text);
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
#piedavajumi .box p, #jaunumi .box p{
    color: var(--text);
    font-size: 1.3rem;
    padding-bottom: .5rem;
    line-height: 2;
}
/* iframe{

} */
/* #slideshow {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 50rem;
  }

  #slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  #slideshow img.active {
    opacity: 1;
  } */

  footer{
    padding: 1rem 0 2rem 0;
    background: rgba(0, 0, 0, 0.7);
  }
  footer .blocks{
    margin: 1rem 9% 2rem 9%;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 6px -6px #f99f38;
    align-items: center;
    gap: 2rem;
  }
  footer iframe{
    height: 18rem;
  }
footer p{
    text-align: center;
    color: #eee;
    font-size: 1.3rem;
}
  footer .blocks p{
    line-height: 1.5;
    text-align: left;
  }

  @media (max-width: 1150px) {
    #piedavajumi .box .fotos {
        display: block;
    }

    #piedavajumi .box .fotos img,
    #piedavajumi .box .fotos iframe {
        width: 100%; 
        margin-bottom: 1rem; 
    }
}