@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300;600&display=swap');

:root{
    --maincolor: #f99f38;
    --border: .1rem solid rgba(56, 55, 54, 0.1);
    --box-shadow: 0 .5rem 1rem #f99f38;
    --shadow: .3rem .2rem .5rem #d7cdbc;
    --radius: .5rem;
    --text: #292929;
    --bg: #ffe4c6;
}
*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all .3s ease-out;
}

body {
  background-image: url("../images/admin.jpg");
  background-repeat: no-repeat;
  z-index: 0;
}

.btn{
    display: inline-block;
    padding: .5rem 2.3rem;
    font-size: 1.3rem;
    margin-top: 2rem;
    width: 100%;
    cursor: pointer;
    color: var(--text);
    background: var(--maincolor);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
    font-weight: bold;
    text-align: center;
}
.btn:hover{
    background-color: var(--bg);
}
.sakums{
  text-align: center;
  font-size: 1rem;
}

.input {
  font-size: 1.3rem;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px; 
  background-color: rgba(255, 255, 255, 0.4); 
  border: 1px solid #ccc;  
  

}
.box-container {
  position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box{
  max-width: 30rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 1rem;
}

.box h2 {
  margin: 2rem 0;
  font-size: 2.7rem;
  text-align: center;
}

.box a{
  margin-top: 1rem;
  font-size: 1.2rem;
  background-color: var(--maincolor) ;
}
.box form input:focus{
  background: rgba(255, 255, 255, 0.6);
}


@media (max-width: 520px){
  .box{
    width: 90%;
  }
}  