@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300;600&display=swap');


:root{
    --maincolor: #f99f38;
    --border: .1rem solid rgba(56, 55, 54, 0.1);
    --box-shadow: 0 .5rem 1rem #f99f38;
    --shadow: .3rem .2rem .5rem #d7cdbc;
    --radius: .4rem;
    --text: #292929;
    --bg: #ffe4c6;
    --bg2: #faf1e7;
}
*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all .5s ease-in-out;
}
body{
    background: #fff;
    padding-top: 5rem;
}

.btn{
    color: var(--text);
    padding: .8rem 1.5rem;
    background: var(--bg2);
    border: 2px solid var(--bg);
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
a.btn.piev{
    width: 97%;
    height: 1.5rem;
    margin-bottom: 5rem;
    color: var(--text);
    padding: 1.2rem;
    background: var(--bg2);
    border: .7rem;
}
a.btn.piev:hover{
    background-color: #f9d1a6;
}

aside .user{
    padding: 1.5rem 1rem;
    text-align: center;

}
.logout{
    padding: .5rem 0;
    font-size: 1.3rem;
}
.logout a{
    display: inline-block;
    background: none;
    padding: 0;
}
.logout i{
    padding: 0 .5rem;
    color: var(--text);
    font-size: 1.2rem;
}

.logout i:hover{
    color: var(--maincolor);
}

.aside .current {
    background: var(--bg);
    letter-spacing: .1rem;
    font-weight: bold;
}

.user .fa-user{
    font-size: 3rem;
    padding: 1rem 1.2rem;
    border-radius: 100%;
    border: 2px solid var(--maincolor);
}
.aside{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    background-color: #fff;
    height: 100%; 
    box-shadow: var(--box-shadow);
}
.aside h1{
    font-size: 1.7rem;
    color: var(--text);
    padding: 1rem;
    background: var(--bg);
    text-align: center;
}
aside{
    padding: 0 2rem;
} 

nav a{
display: block;
color: var(--text);
background: var(--bg2);
border-radius: .5rem;
font-size: 1.2rem;
margin: 1rem 0;
padding: 1rem;
text-decoration: none;

}
nav a:hover{
    background-color: #f9d1a6;
    letter-spacing: .1rem;
    font-weight: bold;
}

/*admin*/

.tabulas .piev{
    font-size: 1.1rem;
}
.tabulas .piev:hover{
    font-weight: bold;
     background: var(--bg);
}
.admin{
    display: flex;
    flex-direction: row-reverse; 
    margin-bottom: 5rem;
}
.tabulas{
    margin-left: 25%;
}
button{
    background: #fff;
}

.skaiti{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 15rem));
    gap: 1rem;
    margin-right: 3rem;
}
.info-box{
    width: 17rem;
    transition: transform .5s ease;
}

.info-box:hover{
    transform: translateY(-1rem);
}

.box1 {
    background-color: var(--bg2); 
    color: var(--text); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    justify-content: space-around;
    height: 8rem; 
    position: relative;
    border-radius: .4rem .4rem 0 0 ;
}
.info h2 {
    font-size: 2.2rem;
    
}
.info h3 {
    font-size: 1.1rem;
    padding-top: .3rem;
}
.icona {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 3rem;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center; 
    background: var(--bg); 
    height: 3rem;
    width: 17rem;
    border-radius: 0 0 .4rem .4rem;
    font-weight: 700;
}

.box2 a {
    text-decoration: none; 
    color: inherit; 
    position: relative; 
}

.box2 a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px; 
    bottom: -2px; 
    left: 0;
    background-color: var(--maincolor); 
    visibility: hidden;
    transform: scaleX(0); 
    transition: all 0.3s ease-in-out; 
}

.box2 a:hover::after {
    visibility: visible; 
    transform: scaleX(1); 
    height: 2px; 
}

.adminTable{
    color: var(--text);
    font-size: 1.1rem;
    width: 97%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-bottom: 2rem;
}


.adminTable th, .adminTable td {
    border: var(--border); 
    padding: 8px; 
}

.adminTable th {
    background: #efefef; 
}

.adminTable .id{
    width: 3%;
}
.adminTable .epasts{
    width: 20%;
}
.tabulas .adminTable input, .tabulas .adminTable textarea{
    padding: 1rem;
    background: var(--bg2);
    border: none;
    border-radius: var(--radius);
    width: 80%;
    font-size: 1.2rem;
}

.tabulas input:focus, .tabulas textarea:focus{
    background-color: var(--bg);
}

.nosaukums span {
    font-weight: bold; 
}

.nosaukums{
    width: 97%;
    color: var(--text);
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: var(--border);
    background: var(--bg); 
}

.adminTable i{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: var(--maincolor);
    background: var(--bg);
    border-radius: 1rem;
}
.adminTable a{
    padding: 0;
    margin: 0;
    text-align: center;
}

.adminTable i:hover{
    background-color: var(--bg2);
    color: var(--bg);
}
.iesniegts{
    color: red;
    font-weight: bold;
}
.apstiprinats{
    color: #37d000;
    font-weight: bold;
}

footer{
    padding: 1rem 0 2rem 0;
    background: rgba(0, 0, 0, 0.7);
    margin-left: 20%;

  }

  footer p{
    text-align: center;
    color: #eee;
    font-size: 1.3rem;
    width: 100%;
    padding-left: -40rem; 
}


/* Animācijas definīcija */
@keyframes slideInUp {
    from {
        transform: translateY(15%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Klase animācijai */
.animate {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
}

.animate.visible {
    animation: slideInUp 0.6s forwards;
}


/* Default styles for larger screens */
.aside {
    display: block; /* Show the aside by default on larger screens */
}

#menu-btn {
    display: none; /* Hide the menu button by default */
}


@media (max-width: 1200px){
    .adminTable{
        font-size: .7rem;
    }
}


@media(max-width: 1180px) {
    body{
        padding-left: 0;
    }
    .aside {
        display: none; /* Hide the aside by default on smaller screens */
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    
    .aside.active {
        display: block; /* Show the aside when active */
    }

    #menu-btn {
        display: block; /* Show the menu button on smaller screens */
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
        cursor: pointer;
        z-index: 1001;
    }
    .tabulas{
        margin-left: 2rem ;
    }
    footer{
        margin-left: 0;
    }
}

@media (max-width: 950px){
    .admin{
        margin-top: 0;
        
    }
    .info-box{
        width: 9rem;
        margin: 0 .4rem;
    }
    .box1{
        padding: .3rem;
        height: 5rem;
    }
    .info h2 {
        font-size: 1.3rem;
        
    }
    .info h3 {
        font-size: .7rem;
        padding-top: .3rem;
    }
    .box2{
        width: 9rem;
    }
    .icona{
        font-size: 2rem;
    }
    .adminTable th, .adminTable td{
        font-size: .7rem;
    }
    .nosaukums{
        font-size: 1rem;
    }
    footer p{
        font-size: 1.1rem;
    }
    textarea, input{
        margin: 2% 1.5rem;
    }
    .piev{
        margin: 2%;
    }
}

@media (max-width: 700px){
    .box1{
        width: 7rem;
    }
    .icona{
        font-size: 1.5rem;
    }
    .box2{
        width: 7rem;
    }
    .box2 a{
        font-size: .8rem;
    }
    .info h3 {
        font-size: .6rem;
        
    }
    .skaiti{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        gap: 1rem;
        margin-bottom: 2.2rem;
        margin-left: 2rem;
    }
    .admin{
    display: flex;
    flex-direction: column;
    }
    .adminTable i{
    width: 1rem;
    height: 1rem;
    font-size: .6rem;
    }
    .adminTable th, .adminTable td{
        font-size: .9rem;
       padding: 0;
    }
    .nosaukums{
        font-size: 1.3rem;
    }
}