@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300;600&display=swap');

:root{
    --maincolor: #f99f38;
    --border: .1rem solid rgba(56, 55, 54, 0.1);
    --box-shadow: 0 .5rem 1rem #f99f38;
    --shadow: .3rem .2rem .5rem #d7cdbc;
    --radius: .5rem;
    --text: #292929;
    --bg: #ffe4c6;
}
*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all .3s ease-out;
}
body{
  background-image: url("../images/fons.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.btn{
    display: inline-block;
    padding: .5rem 2.3rem;
    font-size: 1.3rem;
    margin-top: 2rem;
    width: 100%;
    cursor: pointer;
    color: var(--text);
    background: var(--maincolor);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
    font-weight: bold;
}
.btn:hover{
    background-color: var(--bg);
}
.sakums{
  display: inline-block;
  padding: .5rem 2.3rem;
  font-size: 1rem;
  margin-top: 2rem;
  width: 70%;
  cursor: pointer;
  color: var(--text);
  background: var(--maincolor);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  z-index: 1;
  font-weight: bold;
}
.input {
  font-size: 1.3rem;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px; 
  background-color: rgba(255, 255, 255, 0.4); 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}
.box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.box {
  padding: 2rem 2.7rem;
  width: 100%;
  height: 100%;
  text-align: center;
}
h2 {
  margin: 2rem 0;
  font-size: 2.7rem;
}
a{
  margin-top: 1rem;
  font-size: 1.2rem;
  background-color: var(--maincolor) ;
}